{% extends 'base.html.twig' %}
{% block title %}La Marque | Bodypack
{% endblock %}
{% block body %}
	<div class="container">
        <br />
        <img alt="Bodypack à chacun son sac" src="{{ asset ('assets/img/image-brand.png')}}" />
        <br />
        <p>Implantée à Taluyers dans le berceau de l'industrie du cuir et de la soie, la Maroquinerie des Monts du Lyonnais fut créée après guerre pour fabriquer les besaces des 
        artisans (plombiers, les électriciens, les postiers...).</p>
        <p>En 2001, notre savoir-faire de maroquinier s'est tourné vers les particuliers et l'industrie textile pour répondre aux tendances de consommation, en développant de 
        nouvelles gammes de sacs tant pour accompagner les études que les loisirs.  Ainsi est née la marque Bodypack, aujourd'hui internationalement reconnue.</p>
        <img src="{{ asset ('assets/img/image-brand-2.png')}}" alt="Cartable Bodypack" />

        <div class="images-with-text">

        <img id="image-brand-3" alt="Sac Business Bodypack" src="{{ asset ('assets/img/image-brand-3.png')}}" />

        <div>
        <p>Nos expertises du patronage, de la sélection rigoureuse des matières, combinées à l'excellence de nos designers assurent le développement de 
        produits uniques destinés aux écoliers, aux voyageurs, aux urbains et aux sportifs.</p>
        <p>Renouvelées chaque année, nos collections perpétuent ainsi la tradition qui anime notre maison depuis 1954. Nous rendons accessible au plus grand nombre des produits 
        légers et ergonomiques pour vous assurer le maximum de confort dans votre mobilité quotidienne, en restant moderne grâce à des designs et des motifs aux tendances actuelles. </p>
        <p>Aujourd'hui la reconnaissance de notre savoir faire à la française se traduit par la présence de nos produits dans plus de 20 pays à l'export, et par la proximité avec notre 
        communauté.</p>
        </br>
        </div>
        </div>
    </div>
{% endblock %}
