{% extends 'base.html.twig' %}
{% block title %}La garantie | Bodypack
{% endblock %}
{% block body %}
	<div class="container">
	<h2>Politique de Garantie chez Bodypack</h2>
	<p>Nous sélectionnons avec beaucoup de précaution l’ensemble des matériaux et des tissus utilisés dans la confection de nos produits. Les produits BODYPACK sont faits mains ce 
    qui permet d’assurer un niveau de finition qui allie qualité et robustesse, pour l’ensemble de nos gammes. Cependant, il peut parfois arriver qu’un défaut de fabrication échappe à
     la vigilance de notre contrôle qualité. C’est pourquoi nous avons créé la garantie à Vie « Product Life ».</p>
	<p>Ainsi, Bodypack garantit ses produits pour les défauts de fabrication dans la limite d’une utilisation normale et durant toute la durée de vie du produit définie par 
    Bodypack.</p>
	<ul>
		<li>Articles de la gamme maternelle : garantie 3 ans </li>
		<li>Articles de la gamme primaire : garantie 5 ans </li>
		<li>Articles de la gamme collège &amp; Lycée : garantie 5 ans </li>
		<li>Articles de la gamme sacs à dos “voyage, Reporter, Polochon” : garantie 10 ans </li>
		<li>Articles valises souples ou rigides : garantie 10 ans </li>
		<li>Sac à dos Urbain, Sac à dos loisirs sportifs, Sac de sport : garantie 10 ans </li>
		<li>Sac à dos moto : garantie 5 ans</li>
		<li>Sac à dos business, Sac à dos Week-End : garantie 10 ans</li>
		<li>Accessoires : garantie 2 ans</li>
	</ul>
	<p><i>Par défaut l'ensemble de nos produits sont garantis 2 ans. Pour tous les produits achetés à partir du 1er janvier 2019 vous pouvez étendre gratuitement 
    la garantie de 2 ans à la durée de vie que nous estimons pour chacun de nos produits, en souscrivant à la garantie "Product Life"</i></p>
	<p>Pour activer votre garantie, il suffit d’enregistrer votre produit sur notre site internet dans les 3 mois qui suivent votre achat
    <a href="https://bodypack.fr/pages/activer-la-garantie" class="lientxt">activation la garantie</a></p>
	<p>À défaut d’activer votre garantie, le produit ne sera garantit que dans la limite légale définie par la loi, à savoir 2ans, et sous réserve des conditions définies 
    ci-après.</p>
	<p>Durant les 3 premiers mois, vous rencontrez un défaut de fabrication sur votre sac à dos, vous pouvez simplement nous envoyer un mail À
    <a href="mailto:sav@bodypack.fr" class="lientxt">sav@bodypack.fr</a>avec les éléments suivants :</p>
	<ul>
		<li>2 photos du sac : 1 photo de face et 1 photo du défaut</li>
		<li>Votre adresse et votre numéro de téléphone</li>
		<li>Votre numéro de commande en ligne ou, si vous avez acheté en magasin, un scan de votre ticket de caisse.</li>
	</ul>
	<p>Nous nous occuperons de vous renvoyer un sac de remplacement dès réception des éléments par mail.</p>
	<h2>Politique de la Garantie à Vie chez Bodypack :</h2>
	<p>Nous nous engageons à réparer ou remplacer, à notre discrétion, tout produit présentant un défaut dans le cadre d’une utilisation normale et adéquate, 
    dans les limites de la durée de vie du produit. Bodypack ne sera pas responsable des coûts, pertes ou dommages encourus suite à la perte ou la 
    mauvaise utilisation du produit en question.</p>
	<p>Le terme Durée de Vie employé chez Bodypack ne fait pas référence à la durée de vie du propriétaire mais à celle du produit.</p>
	<p>Si un défaut survient sur l’un de nos produits alors qu’il a été utilisé pendant son cycle de vie de manière régulière, alors la garantie sera mise en oeuvre automatiquement. 
    Tout défaut survenant en dehors de la durée de vie du produit définie par Bodypack sera considéré comme relevant de l’usure temporelle. 
    La garantie ne pourra alors pas s’appliquer, toutefois, vous pouvez nous consulter pour nous demander de réparer le produit, cette prestation étant payante.</p>
	<p>Les défauts de fabrication apparaissent de manière immédiate sur des produits neufs ou au contraire sur des produits inutilisés, 
    au début du cycle de vie. Chaque cas étant différent, il appartient à Bodypack, de déterminer le cycle de vie de chacune de nos gammes, 
    afin de faire la différence entre un défaut de fabrication et une usure normale. Dans le cas où votre produit présente un défaut de fabrication et que la 
    garantie s’applique, Bodypack peut choisir de le réparer ou de le remplacer gratuitement (avec un sac équivalent si votre modèle n’est plus en stock/plus produit).</p>
	<p>Nous vous rappelons que la Garantie fonctionne à date du premier achat et ne se renouvelle pas lors d’un échange ou d’une réparation.</p>
	<h2>Comment activer sa Garantie à vie ?</h2>
	<p>Comme vu plus haut, afin d’activer la Garantie à Vie de votre produit Bodypack, il suffit de vous inscrire dans les 3 mois qui suivent votre achat sur 
    notre site internet <a href="https://bodypack.myshopify.com/pages/activer-la-garantie" class="lientxt">activer la garantie</a></p>
	<h3>I. Les Articles scolaires</h3>
	<h3>A. Sacs gamme “Maternelle et Primaire”</h3>
	<h3>1. Sacs “Maternelle”</h3>
	<p>Bodypack propose une garantie de 3 ans à compter de l’activation de la garantie sur nos produits “ Sac Maternelle”. Cette garantie couvre les défauts de fabrication dans le cadre d’une utilisation normale. Bodypack réparera ou remplacera, à sa discrétion, le produit présentant un défaut dans la limite d’une utilisation normale, adéquate et remplissant les conditions de la Garantie qui exclut l’usure normale. Pour être plus précis, la garantie couvre tout produit défectueux en terme de matériaux ou de fabrication comme : Fermeture à glissières et ses tirettes, coutures défectueuses, roues bloqués, canne télescopique bloquée, poignée avec bouton pressoir, décoloration prématurée du tissu.</p>
	<p>En revanche, la garantie ne couvre pas les roues usées, les cannes télescopiques tordues ou cassées, les roulettes lumineuses, les dommages liés à un accident, une mauvaise utilisation du produit ou abus (déchirures, coupures, trous). Tout comme, elle ne couvre pas les dommages esthétiques (tissus tâchés ou éraflés) ainsi que l’usure normale, la détérioration ou le vol (fermeture à glissière cassée, sangles endommagées, revêtement écaillé ou décoloration du tissu). De plus, la garantie ne prend pas en compte les dommages causés par des tiers durant des transports (bus, avions, trains …) ou leurs transits (dommages imputés à la pression de l’air, les coupures, les déchirures et les trous; les dommages aux protections des roues, poignées ou autres équipements du sac). Les dommages indirects : détérioration ou perte de contenu du sac, des pertes de l’usage, des pertes de temps ou autres dépenses similaires ne sont pas pris en charge. Enfin la garantie ne prend pas en charge les réparations personnelles effectuées par le client ou un tiers.</p>
	<h3>2. Sacs gamme “Primaire”</h3>
	<p>Bodypack propose une garantie de 5 ans à compter de l’activation de la garantie sur nos produits “ Sacs Primaire”. Cette garantie couvre les défauts de fabrication dans le cadre d’une utilisation normale. Bodypack réparera ou remplacera, à sa discrétion, ton produit présentant un défaut dans la limite d’une utilisation normale, adéquate et remplissant les conditions de la Garantie qui exclut l’usure normale. Pour être plus précis, la garantie couvre tout sac à dos défectueux en terme de matériaux ou de fabrication comme : Fermeture à glissières et ses tirettes, coutures défectueuses, roues bloqués, canne télescopique bloquée, poignée avec bouton pressoir, décoloration prématurée du tissu, Tuck fermeture cartable, plot sous sac à dos trolley.</p>
	<p>En revanche, la garantie ne couvre pas les roues usées, les cannes telescopique tordues ou cassées, les roulettes lumineuses, les dommages liés à un accident, une mauvaise utilisation du produit ou abus (déchirures, coupures, trous). Tout comme, elle ne couvre pas les dommages esthétiques (tissus tâchés ou éraflés) ainsi que l’usure normale, la détérioration ou le vol (fermeture à glissière cassée, sangles endommagées, revêtement écaillé ou décoloration du tissu). De plus, la garantie ne prend pas en compte les dommages causés par des tiers durant des transports (bus, avions, trains …) ou leurs transits (dommages imputés à la pression de l’air, les coupures, les déchirures et les trous; les dommages aux protections des roues, poignées ou autres équipements du sac). Les dommages indirects : détérioration ou perte de contenu du sac, des pertes de l’usage, des pertes de temps ou autres dépenses similaires ne sont pas pris en charge. Enfin la garantie ne prend pas en charge les réparations personnelles effectuées par le client ou un tiers</p>
	<h3>B. Sacs gamme “Collège &amp; Lycée”</h3>
	<p>Bodypack propose une garantie de 5 ans à compter de l’activation de la garantie sur nos produits “ Sacs Collège &amp; Lycée ”. Cette garantie couvre les défauts de fabrication dans le cadre d’une utilisation normale. Bodypack réparera ou remplacera, à sa discrétion, le produit présentant un défaut dans la limite d’une utilisation normale, adéquate et remplissant les conditions de la Garantie qui exclut l’usure normale. Pour être plus précis, la garantie couvre tout sac à dos défectueux en terme de matériaux ou de fabrication comme : Fermeture à glissières et ses tirettes, coutures défectueuses et décoloration prématurée du tissu. . La garantie couvre également le port Usb et son câble sur nos sacs à dos technique scolaire ainsi que les sangles.</p>
	<p>En revanche, la garantie ne couvre pas les roues usées, les cannes telescopique tordues ou cassées, les roulettes lumineuses, les dommages liés à un accident, une mauvaise utilisation du produit ou abus (déchirures, coupures, trous). Tout comme, elle ne couvre pas les dommages esthétiques (tissus tâchés ou éraflés) ainsi que l’usure normale, la détérioration ou le vol (fermeture à glissière cassée, sangles endommagées, revêtement écaillé ou décoloration du tissu). De plus, la garantie ne prend pas en compte les dommages causés par des tiers durant des transports (bus, avions, trains …) ou leurs transits (dommages imputés à la pression de l’air, les coupures, les déchirures et les trous; les dommages aux protections des roues, poignées ou autres équipements du sac). Les dommages indirects : détérioration ou perte de contenu du sac, des pertes de l’usage, des pertes de temps ou autres dépenses similaires ne sont pas pris en charge. Enfin la garantie ne prend pas en charge les réparations personnelles effectuées par le client ou un tiers</p>
	<h3>II. Les Articles de voyage</h3>
	<h3>A. Sac à dos gamme “voyage, Reporter, Polochon”</h3>
	<p>Bodypack propose une garantie de 10 ans à compter de l’activation de la garantie sur nos produits “ Sacs à dos voyage, Reporter, Polochon ”. Cette garantie couvre les défauts de fabrication dans le cadre d’une utilisation normale. Bodypack réparera ou remplacera, à sa discrétion, le produit présentant un défaut dans la limite d’une utilisation normale, adéquate et remplissant les conditions de la Garantie qui exclut l’usure normale.</p>
	<p>Pour être plus précis, la garantie couvre tout produits défectueux en terme de matériaux ou de fabrication comme : Fermeture à glissières et ses tirettes, coutures défectueuses, décoloration prématurée du tissu, revêtement écaillé, sangles boucles extérieurs.</p>
	<p>En revanche, la garantie ne couvre pas les dommages liés à un accident, une mauvaise utilisation du produit ou abus (déchirures, coupures, trous). Tout comme, elle ne couvre pas les dommages esthétiques (tissus tâchés ou éraflés), les roues usées ainsi que l’usure normale, la détérioration ou le vol (fermeture à glissière cassée, sangles endommagées, revêtement écaillé ou décoloration du tissu). De plus, la garantie ne prend pas en compte les dommages causés par des tiers durant des transports (bus, avions, trains …) ou leurs transits (dommages imputés à la pression de l’air, les coupures, les déchirures et les trous; les dommages aux protections des roues, poignées ou autres équipements du sac). Les dommages indirects : détérioration ou perte de contenu du sac, des pertes de l’usage, des pertes de temps ou autres dépenses similaires ne sont pas pris en charge. Enfin la garantie ne prend pas en charge les réparations personnelles effectuées par le client ou un tiers</p>
	<h3>B. Valise souple et rigide</h3>
	<p>Bodypack propose une garantie de 5 ans à compter de l’activation de la garantie sur nos produits “ Valise rigide et souple ”. Cette garantie couvre les défauts de fabrication dans le cadre d’une utilisation normale. Bodypack réparera ou remplacera, à sa discrétion, le produit présentant un défaut dans la limite d’une utilisation normale, adéquate et remplissant les conditions de la Garantie qui exclut l’usure normale. Pour être plus précis, la garantie couvre tout produits défectueux en terme de matériaux ou de fabrication comme :Fermeture à glissières et ses tirettes, coutures défectueuses, décoloration prématurée du tissu, revêtement écaillé, plots sous valise, poche filet intérieur avec fermeture à glissière, poignée avec bouton pressoir, sangles de serrage, canne télescopique bloquée mais aussi le cadenas de sécurité TSA.</p>
	<p>En revanche, la garantie ne couvre pas les roues usées, les cannes télescopiques tordues ou cassées, les dommages liés à un accident, une mauvaise utilisation du produit ou abus (déchirures, coupures, trous). Tout comme, elle ne couvre pas les dommages esthétiques (tissus tâchés ou éraflés) ainsi que l’usure normale, la détérioration ou le vol (fermeture à glissière cassée, sangles endommagées, revêtement écaillé ou décoloration du tissu). De plus, la garantie ne prend pas en compte les dommages causés par des tiers durant des transports (bus, avions, trains …) ou leurs transits (dommages imputés à la pression de l’air, les coupures, les déchirures et les trous; les dommages aux protections des roues, poignées ou autres équipements du sac). Les dommages indirects : détérioration ou perte de contenu du sac, des pertes de l’usage, des pertes de temps ou autres dépenses similaires ne sont pas pris en charge. Enfin la garantie ne prend pas en charge les réparations personnelles effectuées par le client ou un tiers.</p>
	<h3>III. Les Articles de sport / Urbain</h3>
	<h3>A. Sac à dos Urbain, Sac à dos loisirs sportifs, Sac de sport</h3>
	<p>Bodypack propose une garantie de 10 ans à compter de l’activation de la garantie sur nos produits “ Sac à dos Urbain, Sac à dos Ran/Tech, sac de sport ”. Cette garantie couvre les défauts de fabrication dans le cadre d’une utilisation normale. Bodypack réparera ou remplacera, à sa discrétion, le produit présentant un défaut dans la limite d’une utilisation normale, adéquate et remplissant les conditions de la Garantie qui exclut l’usure normale.</p>
	<p>Pour être plus précis, la garantie couvre tout produits défectueux en terme de matériaux ou de fabrication comme : Fermeture à glissières et ses tirettes, coutures défectueuses, décoloration prématurée du tissu, revêtement écaillé, sangles boucles extérieurs, plots sous valise sport, poignée avec bouton pression, canne télescopique bloquée ainsi que la poche isotherme.</p>
	<p>En revanche, la garantie ne couvre pas les roues usées, canne télescopique tordue ou cassée, les dommages liés à un accident, une mauvaise utilisation du produit ou abus (déchirures, coupures, trous). Tout comme, elle ne couvre pas les dommages esthétiques (tissus tâchés ou éraflés) ainsi que l’usure normale, la détérioration ou le vol (fermeture à glissière cassée, sangles endommagées, revêtement écaillé ou décoloration du tissu). De plus, la garantie ne prend pas en compte les dommages causés par des tiers durant des transports (bus, avions, trains …) ou leurs transits (dommages imputés à la pression de l’air, les coupures, les déchirures et les trous; les dommages aux protections des roues, poignées ou autres équipements du sac). Les dommages indirects : détérioration ou perte de contenu du sac, des pertes de l’usage, des pertes de temps ou autres dépenses similaires ne sont pas pris en charge. roues usées, canne télescopique tordue ou cassée. Enfin la garantie ne prend pas en charge les réparations personnelles effectuées par le client ou un tiers.</p>
	<h3>B. Sac à dos moto</h3>
	<p>Bodypack propose une garantie de 5 ans à compter de l’activation de la garantie sur nos produits “ Sac à dos moto ”. Cette garantie couvre les défauts de fabrication dans le cadre d’une utilisation normale. Bodypack réparera ou remplacera, à sa discrétion, le produit présentant un défaut dans la limite d’une utilisation normale, adéquate et remplissant les conditions de la Garantie qui exclut l’usure normale.</p>
	<p>Pour être plus précis, la garantie couvre tout produits défectueux en terme de matériaux ou de fabrication comme : Fermeture à glissières et ses tirettes, coutures défectueuses, décoloration prématurée du tissu, revêtement écaillé, sangles boucles extérieurs.</p>
	<p>En revanche, la garantie ne couvre pas les dommages liés à un accident, une mauvaise utilisation du produit ou abus (déchirures, coupures, trous). Tout comme, elle ne couvre pas les dommages esthétiques (tissus tâchés ou éraflés) ainsi que l’usure normale, la détérioration ou le vol (fermeture à glissière cassée, sangles endommagées, revêtement écaillé ou décoloration du tissu). De plus, la garantie ne prend pas en compte les dommages causés par des tiers durant des transports (bus, avions, trains …) ou leurs transits (dommages imputés à la pression de l’air, les coupures, les déchirures et les trous; les dommages aux protections des roues, poignées ou autres équipements du sac). Les dommages indirects : détérioration ou perte de contenu du sac, des pertes de l’usage, des pertes de temps ou autres dépenses similaires ne sont pas pris en charge. Enfin la garantie ne prend pas en charge les réparations personnelles effectuées par le client ou un tiers.</p>
	<h3>IV. Les Articles Business</h3>
	<h3>A. Sac à dos business, Sac à dos Week-End</h3>
	<p>Bodypack propose une garantie de 10 ans à compter de l’activation de la garantie sur nos produits Business. Cette garantie couvre les défauts de fabrication dans le cadre d’une utilisation normale. Bodypack réparera ou remplacera, à sa discrétion, le produit présentant un défaut dans la limite d’une utilisation normale, adéquate et remplissant les conditions de la Garantie qui exclut l’usure normale.</p>
	<p>Pour être plus précis, la garantie couvre tout produits défectueux en terme de matériaux ou de fabrication comme : Fermeture à glissières et ses tirettes, coutures défectueuses, décoloration prématurée du tissu, revêtement écaillé, sangles boucles extérieurs, crochet antivol, port USB et son câble ainsi que la poche ordinateur étanche.</p>
	<p>En revanche, la garantie ne couvre pas les dommages liés à un accident, une mauvaise utilisation du produit ou abus (déchirures, coupures, trous). Tout comme, elle ne couvre pas les dommages esthétiques (tissus tâchés ou éraflés) ainsi que l’usure normale, la détérioration ou le vol (fermeture à glissière cassée, sangles endommagées, revêtement écaillé ou décoloration du tissu). De plus, la garantie ne prend pas en compte les dommages causés par des tiers durant des transports (bus, avions, trains …) ou leurs transits (dommages imputés à la pression de l’air, les coupures, les déchirures et les trous; les dommages aux protections des roues, poignées ou autres équipements du sac). Les dommages indirects : détérioration ou perte de contenu du sac, des pertes de l’usage, des pertes de temps ou autres dépenses similaires ne sont pas prises en charge. Enfin la garantie ne prend pas en charge les réparations personnelles effectuées par le client ou un tiers</p>
	<h3>V. Règle de Vétusté</h3>
	<p>Nous appliquerons un remboursement par rapport aux cycles de vies de votre produit en fonction de notre règle de vétusté :</p>
	<table border="1">
		<tbody>
			<tr>
				<td>Gamme Maternelle - cycle de vie 3 ans</td>
				<td>Jusqu’à 3 ans - 100% du prix d’achat remboursé</td>
			</tr>
			<tr>
				<td>Gamme Primaire - cycle de vie 5 ans</td>
				<td>Jusqu’à 3 ans- 100% du prix d’achat remboursé<br />Plus de 3 ans à 5 ans - 80% du prix d’achat remboursé</td>
			</tr>
			<tr>
				<td>Gamme Collège et Lycée - 5 ans</td>
				<td>Jusqu’à 3 ans - 100% du prix d’achat remboursé<br />Plus de 3 ans à 5 ans - 80% du prix d’achat remboursé</td>
			</tr>
			<tr>
				<td>Gamme sac à dos “Voyage, Reporter, Polochon” - 10 ans</td>
				<td>Jusqu’à 3 ans - 100% du prix d’achat remboursé<br />Plus de 3 ans à 5 ans - 80% du prix d’achat remboursé<br />Plus de 5 ans à 7 ans - 70% du prix d’achat remboursé<br />Plus de 7 ans à 10 ans - 60% du prix d’achat remboursé</td>
			</tr>
			<tr>
				<td>Valise souple et rigide - 5 ans</td>
				<td>Jusqu’à 3 ans - 100% du prix d’achat remboursé<br />Plus de 3 ans à 5 ans - 80% du prix d’achat remboursé</td>
			</tr>
			<tr>
				<td>Sac à dos Urbain, Sac à dos loisirs sportifs, sac de sport - 10 ans</td>
				<td>Jusqu’à 3 ans - 100% du prix d’achat remboursé<br />Plus de 3 ans à 5 ans - 80% du prix d’achat remboursé<br />Plus de 5 ans à 7 ans - 70% du prix d’achat remboursé<br />Plus de 7 ans à 10 ans - 60% du prix d’achat remboursé</td>
			</tr>
			<tr>
				<td>Sac à dos moto - 5 ans</td>
				<td>Jusqu’à 3 ans - 100% du prix d’achat remboursé<br />Plus de 3 ans à 5 ans - 80% du prix d’achat remboursé</td>
			</tr>
			<tr>
				<td>Sac à dos business, Sac à dos week-end - 10 ans</td>
				<td>Jusqu’à 3 ans - 100% du prix d’achat remboursé<br />Plus de 3 ans à 5 ans - 80% du prix d’achat remboursé<br />Plus de 5 ans à 7 ans - 70% du prix d’achat remboursé<br />Plus de 7 ans à 10 ans - 60% du prix d’achat remboursé</td>
			</tr>
		</tbody>
	</table>
	<p> </p>
	<h3>En pratique, comment mettre en oeuvre la Garantie ?</h3>
	<p>Afin de mieux analyser le problème que vous rencontrez, nous avons besoin que vous nous renvoyez le produit protégé dans un colis à notre attention. Pour ce faire, suivez les étapes indiquées ci-après :</p>
	<p>1) Imprimez notre formulaire SAV disponible à la page <a href="https://cdn.shopify.com/s/files/1/0069/0549/5636/files/Formulaire_-reparation-GAV.pdf?3144" download="Formulaire_-reparation-GAV.pdf">Télécharger le formulaire</a></p>
	<p>2) Remplissez le formulaire en indiquant de manière détaillée la nature du problème, et l’endroit du produit concerné, sans oublier vos coordonnées.</p>
	<p>3) Insérez le formulaire dûment rempli dans le colis que vous avez préparé</p>
	<p>4) Envoyez le colis à l’adresse</p>
	<p>MML – BODYPACK – SERVICE SAV</p>
	<p>ZA de la Ronze</p>
	<p>300 rue des carrières</p>
	<p>69440 TALUYERS</p>
	<p>Les frais de retour sont à la charge du client. En revanche, le produit remplacé ou réparé vous sera renvoyé gratuitement à la charge de BODYPACK.</p>
	<p>Le délai moyen constaté est d’environ 3 semaines pour analyser/ réparer ou renvoyer un produit. Il est possible que ce délai soit prolongé lors des périodes à forte affluence.</p>
	<h3>Réparation</h3>
	<p>Chez Bodypack, nous savons que parfois il est dur de se séparer de ce que l’on aime ! Si votre produit n’est pas ou plus sous Garantie, pas de panique, nous proposons un également un service de réparation.</p>
	<p>Voici notre grille de tarifs pour chaque prestation :</p>
	<p> </p>
	<p>Si vous souhaitez faire réparer votre produit, adressez le nous dans un colis protégé à l’adresse :</p>
	<p>MML – BODYPACK – SERVICE SAV</p>
	<p>ZA de la Ronze</p>
	<p>300 rue des carrières</p>
	<p>69440 TALUYERS</p>
	<p>Après réception du produit et analyse par l’un de nos techniciens, il se peut que le produit ne soit malheureusement pas réparable, mais nous vous proposerons une solution dans les plus brefs délais.</p>
	<p>Les frais d’expédition sont à votre charge, les frais retours sont pris en charge par Bodypack. A rajouter dans les CGV : Bodypack ne délivrera plus de remboursement après les 3 premiers mois d’achat du produit.</p>
    </div>
{% endblock %}
