{% extends 'base.html.twig' %}
{% block title %}Mentions légales | Bodypack
{% endblock %}
{% block body %}
	<div class="container">
		<h2><strong>Article 1 – Champ d’application</strong></h2>

		<p>Les présentes conditions générales de vente (les « CGV ») s’appliquent à toutes les commandes passées sur le site www.bodypack.fr (le « site ») portant sur l’achat de produits présentés par la société MML , société par actions simplifiée dont le siège se situe ZA de la Ronze, 300 rue des Carrières, 694000 TALUYERS, enregistrée au RCS de Lyon sous le numéro 959 503 160 (N° TVA intra-communautaire FR57959503160).</p>
		<br />
		<p>Sous réserve de toute disposition contraire de la loi, les CGV applicables aux relations nouées entre MML et le Client sont celles en vigueur au jour de la validation de la commande. Elles s’appliquent à l’exclusion de toutes autres conditions. MML ne procédant à aucun démarchage téléphonique, les dispositions du Code de la Consommation relatives au démarchage téléphonique sont donc inapplicables aux commandes relevant des présentes CGV.</p>
		<br /><br />

		<h2><strong>Article 2 – Commandes</strong></h2>

		<br />
		<p>Les commandes s’effectuent exclusivement sur le site. Les frais de connexion et d’accès à internet sont à la charge du client. Toute commande est validée par le client au moyen d’un « clic », qui constitue une acceptation irrévocable qui ne peut être remise en cause que dans les limites prévues dans les CGV. Toute commande implique une prise de connaissance préalable et une acceptation sans réserve des CGV.<p><br />
		<p>Au terme de la loi, le procédé dit du « double clic », associé à la procédure d’authentification et de non répudiation, ainsi qu’à la protection de l’intégrité des messages, constitue une signature électronique, qui a valeur entre les parties au même titre qu’une signature manuscrite. Sauf preuve contraire, les données enregistrées par MML constituent la preuve de l’ensemble des transactions passées entre MML et ses clients.</p>
		<p>Une confirmation de la commande validée par le client lui sera adressée par courrier électronique préalablement à l’expédition de la commande, et rendra la vente définitive sous réserve de la faculté d’exercice du droit de rétraction. La version des CGV applicable à une commande donnée peut être conservée par le Client par enregistrement informatique ou impression sur support papier.</p>
		
		<h2><strong>Article 3 – Disponibilité</strong></h2>

		<p>Les offres de produits et de prix sont valables tant qu’elles sont visibles sur le site, dans la limite des stocks disponibles, hors opérations promotionnelles indiquées comme telles sur le site. Les ventes sont conclues sous réserve de la disponibilité effective des produits.<br /><br />Dans l’éventualité où un produit commandé se révélerait indisponible, pour des raisons indépendantes de la volonté de MML, le client en sera informé par courrier électronique. La commande sera automatiquement annulée et aucun débit bancaire ne sera effectué. MML se réserve la faculté de proposer au client un produit de remplacement, d’une qualité et d’un prix équivalent.</p>
		<p>Par ailleurs, MML se réserve le droit de refuser les commandes d’un même produit en quantité importante et ce, dès 2 articles identiques. MML se réserve également le droit de refuser toute commande émanant d’un client qui n’aurait pas payé une précédente commande (hors les cas de rétractation prévus par la loi).</p>
		
		<h2><strong>Article 4 – Prix et modalités de paiement</strong></h2>

		<p><br />4.1 – MML se réserve le droit de modifier ses prix à tout moment mais les produits seront facturés sur la base des tarifs en vigueur au moment de la validation de la commande par le client.<br /><br />Les prix des produits sont indiqués en euros toutes taxes comprises (dont TVA au taux en vigueur).</p>
		<p>Les produits demeurent la propriété de MML jusqu’au complet paiement du prix.</p>
		<br />

		<h3><strong>4.2.1 – Règlement B2C :</strong></h3>

		<p>Le règlement des commandes s’effectue par cartes bancaires (VISA, MASTERCARD, autres cartes bleues) ou paypal.<p><br />

		<h2><strong>Article 5 – Livraison</strong></h2>

		<p>Les délais de livraisons indiqués s’entendent en jours ouvrés. Aucune livraison ne sera effectuée dans des hôtels ou des boîtes postales.</p>
		<p>La livraison sans signature à domicile et en point relais en France métropolitaine est disponible.</p>
		<p>La livraison en point relais est disponible en France, Autriche, Belgique, Espagne, Estonie, Lettonie, Lituanie, Luxembourg, Pays-Bas, Portugal, Pologne, Suède et au Royaume-Uni.</p>
		<p>La grille tarifaire est établie par zone ci dessous figure la liste des pays par zone :</p>
		<p>France Métropolitaine</p>
		<br /><br />

		<table>
			<tbody>
				<tr>
					<td></td>
					<td>
						<p><span>DOMICILE SANS SIGNATURE</span></p>
					</td>
					<td>
						<p><span>DOMICILE RELAIS COLIS</span></p>
						</td>
				</tr>
				<tr>
					<td>
						<strong>0 kg</strong>
					</td>
					<td>
					2.5 (Non suivit)
					</td>
					<td>
					</td>
				</tr>
				<tr>
					<td>
						<p><b>0,250 kg</b></p>
					</td>
					<td>
						<p><span>6,1</span></p>
					</td>
					<td>
						<p><span>5</span></p>
					</td>
				</tr>
				<tr>
					<td>
						<p><b>0,50 kg</b></p>
					</td>
					<td>
						<p><span>6,9</span></p>
					</td>
					<td>
						<p><span>5,8</span></p>
					</td>
				</tr>
				<tr>
					<td>
						<p><b>0,75 kg</b></p>
					</td>
					<td>
						<p><span>7,7</span></p>
					</td>
					<td>
						<p><span>6,7</span></p>
					</td>
				</tr>
				<tr>
					<td>
						<p><b>1 kg</b></p>
					</td>
					<td>
						<p><span>8,3</span></p>
					</td>
					<td>
						<p><span>7,4</span></p>
					</td>
				</tr>
				<tr>
					<td>
						<p><b>2 kg</b></p>
					</td>
					<td>
						<p><span>9,2</span></p>
					</td>
					<td>
						<p><span>8,3</span></p>
					</td>
				</tr>
				<tr>
					<td>
						<p><b>3 kg</b></p>
					</td>
					<td>
						<p><span>10,1</span></p>
					</td>
					<td>
						<p><span>9,2</span></p>
					</td>
				</tr>
				<tr>
					<td>
						<p><b>4 kg</b></p>
					</td>
					<td>
						<p><span>11</span></p>
					</td>
					<td>
						<p><span>10,2</span></p>
					</td>
				</tr>
				<tr>
					<td>
						<p><b>5 kg</b></p>
					</td>
					<td>
						<p><span>11,9</span></p>
					</td>
					<td>
						<p><span>11,1</span></p>
					</td>
				</tr>
				<tr>
					<td>
						<p><b>6 kg</b></p>
					</td>
					<td>
						<p><span>12,9</span></p>
					</td>
					<td>
						<p><span>12,1</span></p>
					</td>
				</tr>
				<tr>
					<td>
						<p><b>7 kg</b></p>
					</td>
					<td>
						<p><span>13,8</span></p>
					</td>
					<td>
						<p><span>13</span></p>
					</td>
				</tr>
				<tr>
					<td>
						<p><b>8 kg</b></p>
					</td>
					<td>
						<p><span>14,6</span></p>
					</td>
					<td>
						<p><span>14</span></p>
					</td>
				</tr>
				<tr>
					<td>
						<p><b>9 kg</b></p>
					</td>
					<td>
						<p><span>15,6</span></p>
					</td>
					<td>
						<p><span>14,9</span></p>
					</td>
				</tr>
				<tr>
					<td>
						<p><b>10 kg</b></p>
					</td>
					<td>
						<p><span>16,5</span></p>
					</td>
					<td>
						<p><span>15,9</span></p>
					</td>
				</tr>
				<tr>
					<td>
						<p><b>11 kg</b></p>
					</td>
					<td>
						<p><span>17,4</span></p>
					</td>
					<td>
						<p><span>16,8</span></p>
					</td>
				</tr>
				<tr>
					<td>
						<p><b>12 kg</b></p>
					</td>
					<td>
						<p><span>18,3</span></p>
					</td>
					<td>
						<p><span>17,7</span></p>
					</td>
				</tr>
				<tr>
					<td>
						<p><b>13 kg</b></p>
					</td>
					<td>
						<p><span>19,2</span></p>
					</td>
					<td>
						<p><span>18,7</span></p>
					</td>
				</tr>
				<tr>
					<td>
						<p><b>14 kg</b></p>
					</td>
					<td>
						<p><span>20,1</span></p>
					</td>
					<td>
						<p><span>19,6</span></p>
					</td>
				</tr>
				<tr>
					<td>
						<p><b>15 kg</b></p>
					</td>
					<td>
						<p><span>21</span></p>
					</td>
					<td>
						<p><span>20,6</span></p>
					</td>
				</tr>
		</tbody>
		</table>

		<p><br /><br />Zone OM1 : Guadeloupe (y compris Saint-Barthélémy et Saint-Martin), Martinique, Réunion, Guyane, Mayotte et Saint-Pierre et Miquelon.</p>
		<p>Zone OM2 : Nouvelle Calédonie et ses dépendances, Polynésie Française, Îles Wallis et Futuna, Terres Australes et Antarctiques Françaises</p>
		<p>Zone 1 : Allemagne, Belgique, Pays Bas, Luxembourg.</p>
		<p>Zone 2 : Royaume-Uni,Irlande, Italie, Espagne, Portugal, Autriche.</p>
		<p>Zone 3 : Suisse, Danemark, Hongrie, Pologne, République-Tchèque, Slovaquie, Slovénie, Estonie, Lettonie, Lituanie, Suède.</p>
		<p>Zone 4 : Grèce, Islande, Finlande, Norvège, Roumanie, Bulgari, Chypre, Croatie, Malte &amp; Territoire Spécifiques : Baléares, Canaries, Ceuta et Melilla.</p>

		<br />
		<table>
			<tbody>
				<tr>
					<td colspan="7">
						<p><b>EU/DOM-TOM DOMICILE AVEC SIGNATURE</b></p>
					</td>
				</tr>
				<tr>
					<td>
						<p><span>POIDS</span></p>
					</td>
					<td>
						<p><span>ZONE 1</span></p>
					</td>
					<td>
						<p><span>ZONE 2</span></p>
					</td>
					<td>
						<p><span>ZONE 3</span></p>
					</td>
					<td>
						<p><span>ZONE 4</span></p>
					</td>
					<td>
						<p><span>OM1</span></p>
					</td>
					<td>
						<p><span>OM2</span></p>
					</td>
				</tr>
				<tr>
					<td>
						<p><b>0,50 kg</b></p>
					</td>
					<td>
						<p><span>8,8</span></p>
					</td>
					<td>
						<p><span>10,3</span></p>
					</td>
					<td>
						<p><span>12,9</span></p>
					</td>
					<td>
						<p><span>14,8</span></p>
					</td>
					<td>
						<p><span>15,2</span></p>
					</td>
					<td>
						<p><span>22,3</span></p>
					</td>
				</tr>
				<tr>
					<td>
						<p><b>1 kg</b></p>
					</td>
					<td>
						<p><span>10,7</span></p>
					</td>
					<td>
						<p><span>13,1</span></p>
					</td>
					<td>
						<p><span>16</span></p>
					</td>
					<td>
						<p><span>18,1</span></p>
					</td>
					<td>
						<p><span>19,5</span></p>
					</td>
					<td>
						<p><span>27,6</span></p>
					</td>
				</tr>
				<tr>
					<td>
						<p><b>2 kg</b></p>
					</td>
					<td>
						<p><span>11,5</span></p>
					</td>
					<td>
						<p><span>14,7</span></p>
					</td>
					<td>
						<p><span>17,9</span></p>
					</td>
					<td>
						<p><span>19,9</span></p>
					</td>
					<td>
						<p><span>26,2</span></p>
					</td>
					<td>
						<p><span>42,9</span></p>
					</td>
				</tr>
				<tr>
					<td>
						<p><b>3 kg</b></p>
					</td>
					<td>
						<p><span>12,3</span></p>
					</td>
					<td>
						<p><span>15,6</span></p>
					</td>
					<td>
						<p><span>19,5</span></p>
					</td>
					<td>
						<p><span>21,9</span></p>
					</td>
					<td>
						<p><span>33</span></p>
					</td>
					<td>
						<p><span>60,3</span></p>
					</td>
				</tr>
				<tr>
					<td>
						<p><b>4 kg</b></p>
					</td>
					<td>
						<p><span>13,1</span></p>
					</td>
					<td>
						<p><span>16,5</span></p>
					</td>
					<td>
						<p><span>21,5</span></p>
					</td>
					<td>
						<p><span>24,4</span></p>
					</td>
					<td>
						<p><span>38,4</span></p>
					</td>
					<td>
						<p><span>72,9</span></p>
					</td>
				</tr>
				<tr>
					<td>
						<p><b>5 kg</b></p>
					</td>
					<td>
						<p><span>13,9</span></p>
					</td>
					<td>
						<p><span>17,3</span></p>
					</td>
					<td>
						<p><span>23,5</span></p>
					</td>
					<td>
						<p><span>29,5</span></p>
					</td>
					<td>
						<p><span>44,5</span></p>
					</td>
					<td>
						<p><span>88</span></p>
					</td>
				</tr>
				<tr>
					<td>
						<p><b>6 kg</b></p>
					</td>
					<td>
						<p><span>14,7</span></p>
					</td>
					<td>
						<p><span>18,2</span></p>
					</td>
					<td>
						<p><span>30,9</span></p>
					</td>
					<td>
						<p><span>33,4</span></p>
					</td>
					<td>
						<p><span>53,3</span></p>
					</td>
					<td>
						<p><span>107,9</span></p>
					</td>
				</tr>
				<tr>
					<td>
						<p><b>7 kg</b></p>
					</td>
					<td>
						<p><span>15,4</span></p>
					</td>
					<td>
						<p><span>19,1</span></p>
					</td>
					<td>
						<p><span>32,7</span></p>
					</td>
					<td>
						<p><span>38,1</span></p>
					</td>
					<td>
						<p><span>60,1</span></p>
					</td>
					<td>
						<p><span>121,5</span></p>
					</td>
				</tr>
				<tr>
					<td>
						<p><b>8 kg</b></p>
					</td>
					<td>
						<p><span>16,2</span></p>
					</td>
					<td>
						<p><span>20</span></p>
					</td>
					<td>
						<p><span>34,3</span></p>
					</td>
					<td>
						<p><span>43,7</span></p>
					</td>
					<td>
						<p><span>63,9</span></p>
					</td>
					<td>
						<p><span>133,6</span></p>
					</td>
				</tr>
				<tr>
					<td>
						<p><b>9 kg</b></p>
					</td>
					<td>
						<p><span>17</span></p>
					</td>
					<td>
						<p><span>20,8</span></p>
					</td>
					<td>
						<p><span>35,9</span></p>
					</td>
					<td>
						<p><span>47</span></p>
					</td>
					<td>
						<p><span>70,4</span></p>
					</td>
					<td>
						<p><span>148,8</span></p>
					</td>
				</tr>
				<tr>
					<td>
						<p><b>10 kg</b></p>
					</td>
					<td>
						<p><span>17,7</span></p>
					</td>
					<td>
						<p><span>21,7</span></p>
					</td>
					<td>
						<p><span>37,6</span></p>
					</td>
					<td>
						<p><span>51</span></p>
					</td>
					<td>
						<p><span>76,9</span></p>
					</td>
					<td>
						<p><span>163,9</span></p>
					</td>
				</tr>
				<tr>
					<td>
						<p><b>15 kg</b></p>
					</td>
					<td>
						<p><span>22,1</span></p>
					</td>
					<td>
						<p><span>26,3</span></p>
					</td>
					<td>
						<p><span>46,8</span></p>
					</td>
					<td>
						<p><span>68,9</span></p>
					</td>
					<td>
						<p><span>111,6</span></p>
					</td>
					<td>
						<p><span>252</span></p>
					</td>
				</tr>
			</tbody>
		</table>

		<p><br /><br />En cas de retard d’expédition, un courrier électronique d’information sera adressé au client et une nouvelle date sera proposée. Si le retard de livraison devait excéder 7 jours pour des causes autres que de force majeure, le client bénéficiera de la possibilité d’annuler sa commande par envoi d’une lettre recommandée avec accusé de réception au service client de MML, à l’adresse de son siège social dans un délai de 60 jours ouvrés à compter de la date de livraison initialement prévue. Les sommes payées par le client au titre de la commande seront remboursées. Si le produit a été reçu après la date de la réception de l’annulation par MML, les frais de retour resteront à la charge du client, et le retour des produits ne sera accepté que sous réserve d’un état parfait de produits, dans leur emballage d’origine.</p>

		<p>Toute réserve sur l’état des produits (ex colis ouvert ou endommagé) doit être notifiée immédiatement au moment de la livraison.</p>

		<h2><strong>Article 6 – Rétractation</strong></h2>

		<p>En application des articles L 121-20 et suivants du Code de la Consommation, le client dispose d’un délai de 7 jours francs à compter de la date de livraison de la commande pour retourner tout produit dans son emballage d’origine et en parfait état (permettant une re commercialisation), pour en demander l’échange ou le remboursement sans pénalité, à l’exception des frais de retour, qui restent à la charge du client. Le client devra joindre une copie de la facture ou tout autre élément permettant d’identifier la commande dont il s’agit, et son titulaire.</p>
		<p>Seul le client identifié comme tel auprès de MML peut exercer ce droit, à l’exclusion de toute autre personne, et notamment de la personne destinataire de la livraison.</p>
		<p>L’adresse de retour est : SAS MML – ZA de la Ronze – 300 rue des Carrières – 69440 TALUYERS.</p>
		<p>Le remboursement du ou des produits sera effectué par la société MML dans un délai maximum de 30 jours après réception par MML desdits produits.</p>
		
		<h2>Article 7 – Conformité</h2>

		<p>Les photos sont communiquées à titre indicatif. Le client est invité à se reporter au descriptif de chaque produit pour en connaître les caractéristiques précises. En cas de doute, ou pour obtenir des renseignements complémentaires, il est possible de contacter le service client : contact@bodypack.fr pour les client B2C et contact-pro@bodypack.fr pour les client B2B.</p>
		<p>MML s’engage à rembourser le client ou à procéder à un échange des produits apparemment défectueux, abîmés ou endommagés ou qui ne correspondent pas à la commande.</p>
		<p>Dans ce cas, le client devra faire état par écrit de la situation de manière détaillée et photographies à l’appui. Certains cas pourront demander de renvoyer le(s) produit(s).</p>
		<p>Les frais de retour seront remboursés sur présentation des justificatifs.</p>
		<p>En tout état de cause, le client bénéficie des garanties légales de conformité et des vices cachés, conformément aux dispositions légales en vigueur ( articles L211-4, L211-5 et L211-12 du Code de la Consommation et des articles 1641 et 1648, premier alinéa, du Code Civil).</p>
		<br />

		<h2><strong>Article 8 – Propriété Intellectuelle et industrielle</strong></h2>

		<p>Toutes les illustrations, images, caractères, modes de présentation, graphismes, caractères du Site sont et demeurent la propriété exclusive de MML ou des titulaires desdits droits ayant accordé un droit d’exploitation à MML. Toute reproduction, représentation ou utilisation desdits droits par un client sera constitutif d’une faute donnant lieu à poursuites judiciaires.</p>
		
		<h2><strong>Article 9 – Informatique et libertés – Données personnelles</strong></h2>

		<p>Les informations et données concernant le client sont strictement nécessaires à la gestion des commandes, à l’exécution et aus suivi des relations commerciales, ainsi qu’à des fins statistiques internes.</p>
		<p>La base de données ainsi constituée a fait l’objet d’une déclaration à la CNIL sous le n°1637447.</p>
		<p>Ces données peuvent être transmises aux sociétés qui participent à ces relations (telles que celles chargées de l’exécution des services et commandes) pour leur gestion, exécution, traitement et paiement. Ces données sont également conservées afin de poursuivre des objectifs de sécurité , d’identification d’amélioration et de personnalisation des services.</p>
		<p>Le client dispose à tout moment du droit d’accès, de rectification et d’opposition aux données personnelles le concernant. Ce droit s’exerce par e-mail sur contact@bodypack.fr ou par courrier SAS MML – ZA de la Ronze – 300 rue des Carrières – 69440 TALUYERS.</p>
		<p>Le client est susceptible de recevoir, de la part de MML, des offres portant sur des produits ou services analogues à ceux ou celui ayant déjà fait l’objet d’une commande, ou des lettres d’information. Il aura à tout moment la faculté de s’y opposer sans frais pour l’avenir, selon des modalités précisées à chaque envoi.</p>
		
		<h2><strong>Article 10 – Droit applicable – Litiges</strong></h2>

		<p>Le contrat formé par l’acceptation des présentes CGV est soumis à la loi française.</p>
		<p>La langue du présent contrat est la langue française.</p>
		<br />
		<p>En cas de litige, les tribunaux lyonnais seront seuls compétents.</p>
		<br />
		
		<h2><strong>Article 11 - Garantie à Vie Product Life</strong></h2>
		<p>Afin d'activer « Product Life » il vous suffit d’enregistrer votre produit sur notre site internet dans les 3 mois qui suivent votre achat : https://bodypack.fr/pages/activer-la-garantie<br />À défaut d’activer Product Life le produit ne sera garantit que 2 ans, et sous réserve des conditions définies ci-après : Lien page garantie. Dans notre politique de garantie à vie nous privilégions le remplacement ou la réparation du produit. Si toutefois ce n’est pas possible, un remboursement sera effectué<br /><br />Nous appliquerons un remboursement par rapport aux cycles de vies (détails en cliquant ici ) de votre produit en fonction de notre règle de vétusté :<br /><br />Jusqu’à 3 ans - 100%<br />Plus de 3 ans à 5 ans - 80% du prix d’achat remboursé<br />Plus de 5 ans à 7 ans - 65% du prix d’achat remboursé<br />Plus de 7 ans à 10 ans - 50% du prix d’achat remboursé<p>
		<br />		
		<br />
	</div>
{% endblock %}
